APPLICATION_EXTENSION_API_ONLY = YES
CLANG_CXX_LANGUAGE_STANDARD = compiler-default
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SDKROOT)/Developer/Library/Frameworks" "$(PLATFORM_DIR)/Developer/Library/Frameworks"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1
HEADER_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/Headers/Public" "${PODS_ROOT}/Headers/Public/AFNetworking" "${PODS_ROOT}/Headers/Public/CCLRequestReplay" "${PODS_ROOT}/Headers/Public/CCLRequestReplay/CCLRequestReplay" "${PODS_ROOT}/Headers/Public/ContentfulDeliveryAPI" "${PODS_ROOT}/Headers/Public/ContentfulPersistence" "${PODS_ROOT}/Headers/Public/FBSnapshotTestCase" "${PODS_ROOT}/Headers/Public/ISO8601DateFormatter" "${PODS_ROOT}/Headers/Public/OCMock" "${PODS_ROOT}/Headers/Public/Realm" "${PODS_ROOT}/Headers/Public/Realm/Realm" "${PODS_ROOT}/Headers/Public/VCRURLConnection" "${PODS_ROOT}/Realm/include/core" "${PODS_ROOT}/Realm/include/core"
LIBRARY_SEARCH_PATHS = "$(PODS_ROOT)/Realm/core"
OTHER_CFLAGS = $(inherited) -isystem "${PODS_ROOT}/Headers/Public" -isystem "${PODS_ROOT}/Headers/Public/AFNetworking" -isystem "${PODS_ROOT}/Headers/Public/CCLRequestReplay" -isystem "${PODS_ROOT}/Headers/Public/CCLRequestReplay/CCLRequestReplay" -isystem "${PODS_ROOT}/Headers/Public/ContentfulDeliveryAPI" -isystem "${PODS_ROOT}/Headers/Public/ContentfulPersistence" -isystem "${PODS_ROOT}/Headers/Public/FBSnapshotTestCase" -isystem "${PODS_ROOT}/Headers/Public/ISO8601DateFormatter" -isystem "${PODS_ROOT}/Headers/Public/OCMock" -isystem "${PODS_ROOT}/Headers/Public/Realm" -isystem "${PODS_ROOT}/Headers/Public/Realm/Realm" -isystem "${PODS_ROOT}/Headers/Public/VCRURLConnection"
OTHER_CPLUSPLUSFLAGS = -std=c++1y $(inherited) -std=c++1y $(inherited)
OTHER_LDFLAGS = $(inherited) -ObjC -l"CCLRequestReplay" -l"FBSnapshotTestCase" -l"OCMock" -l"Pods-CDA Tests-AFNetworking" -l"Pods-CDA Tests-ContentfulDeliveryAPI" -l"Pods-CDA Tests-ContentfulPersistence" -l"Pods-CDA Tests-ISO8601DateFormatter" -l"Realm" -l"VCRURLConnection" -l"c++" -l"realm-ios" -framework "CoreData" -framework "CoreGraphics" -framework "MapKit" -framework "MobileCoreServices" -framework "Security" -framework "SystemConfiguration" -framework "UIKit" -framework "XCTest"
PODS_ROOT = ${SRCROOT}/Pods
USER_HEADER_SEARCH_PATHS = "${PODS_ROOT}/Realm/include" "${PODS_ROOT}/Realm/include/Realm" "${PODS_ROOT}/Realm/include" "${PODS_ROOT}/Realm/include/Realm"